<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kaon Ta!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Kaon Ta!">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <strong>Kaon Ta!</strong>
      <div class="nav-links">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <a href="<%= admin_dashboard_path %>" class="btn btn-primary">Dashboard</a>
            <span>Logged in as <%= current_user.email %></span>
            <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "button" %>
          <% else %>
            <a href="<%= tables_path %>" class="btn btn-primary">Time Slots</a>
            <a href="<%= my_reservations_path %>" class="btn btn-primary">My Reservations</a>
            <span>Logged in as <%= current_user.email %></span>
            <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "button" %>
          <% end %>
        <% else %>
          <%= link_to "Login", login_path, class: "button" %>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        <% end %>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
